@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.homepage{
    font-family:'Poppins', sans-serif;
}


.nav-bg{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;

}

.page-logo{
    font-size: 50px;
    font-weight: bold;
    margin-left: 2%;
    cursor: pointer;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    padding: 0 10px;
    border-radius: 10px;
}

.nav-maps{
    margin-left: auto;
    color: white;
    font-size: 1vw;
}

.nav-maps-link{
    color: white;
    text-decoration: none;
    margin-right: 2vw;
}