@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

.bg-nav{
    background-color: black !important;
    color: white;
}

.font-family-color{
    font-family:'Poppins', sans-serif !important;
    color: white !important;
}

.logo-size{
    font-size: 1.5rem !important;
}

.logo{
    border-style: solid;
    border-width: 2px;
    padding: 0.3rem;
    margin-right: 0.1rem;

}

.font-size{
    font-size: 1.2rem;
}

.navbar-toggler{
    border-color: white !important;
    border-width: 2px !important;
    border-radius: 0px !important;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-item a:hover{
    color: red !important;
}

.nav-link{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.profile-photo{
    border-style: solid;
    border-color: black;
    width: 17rem;
    height: 17rem;
    border-radius: 30rem;
}

.introduction{
    text-align: center;
}


.main-container{
    height: 91svh;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.icon-size{
    font-size: 1.7rem;
    
}

.para-bottom-margin{
    margin-bottom: 0rem;
}

@media (max-width:768px){
    .introduction{
        margin-top: 1rem !important;
    }

    .tech-stack{
        font-size: 1.3rem !important;
    }
}

.icon-size:hover{
    color:blue;
}

.tech-stack{
    font-size: 1.7rem;
}